  /*csslint ids:false, box-model: false*/
  /***************************************************
GENERAL
 ***************************************************/
  
  body {
      background-image: url(http://webdesigntunes.com/wp-content/uploads/2013/06/professional-wood.jpg);
      font-family: 'Open Sans', sans-serif;
  }
  /*max-width is realated to width. But instead of width , max-width that it can be smaller for mobile  devices ablets.*/
  
  #wrapper {
      margin: 0 auto;
      /*Margin 0 is for all sides*/
      max-width: 940px;
      /* Values  first one is top and  bottom. Second one is left and right.*/
      padding: 0 5%;
  }
  
  a {
      text-decoration: none;
  }
  
  img {
      max-width: 100%;
  }
  
  h3 {
      margin: 0 0 1em 0;
  }
  
  header {
      float: left;
      margin: 00 0 30px 0;
      padding: 5px 0 0 0;
      width: 100%;
  }
  /*our name and description of who we are. */
  
  #logo {
      margin: 0;
      text-align: center;
  }
  
  h1 {
      font-family: 'Damion', cursive;
      font-size: 1.75em;
      margin: 15px 0;
  }
  
  h2 {
      font-size: 0.75em;
      /* 1st value is  for the top. 2nd value is for left and right. 3rd value is for the bottom.*/
      font-weight: normal;
      margin: -5px 0 0;
  }
  /***************************************************
  NAVIGATION
 ***************************************************/
  
  NAV {
      margin: 2.5%;
      margin: 20px 0 0;
      text-align: center;
  }
  
  nav ul {
      list-style: none;
      margin: 0 10px;
      padding: 10px 0;
  }
  
  nav li {
      display: inline-block;
  }
  
  nav a {
      font-weight: 800;
      padding: 15px 10px;
  }
  /***************************************************
FOOTER
 ***************************************************/
  
  footer {
      clear: both;
      color: #ccc;
      font-size: 0.75em;
      padding-top: 50px;
      text-align: center
  }
  
  .social-media-icon {
      height: 20px;
      margin: 0 5px;
      width: 20px;
  }
  /***************************************************
PAGE PORTFOLIO
 ***************************************************/
  
  #gallery {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  #gallery li {
      background-color: lightgrey;
      color: #bdc3c7;
      float: left;
      margin: 2.5%;
      width: 45%;
  }
  
  #gallery li a p {
      color: white;
      font-size: 0.75em;
      margin: 0;
      padding: 5%;
  }
  /***************************************************
 ABOUT ME PAGE
 ***************************************************/
  
  .portfolio-photo {
      border-radius: 20%;
      display: block;
      max-width: 0 auto 30px;
  }
  /***************************************************
COLORS
****************************************************/
  
  body {
      background-color: #fff;
      color: #999
  }
  
  a {
      color: #ff80bf;
  }
  
  header {
      background: #007777;
  }
  
  h1 {
      color: pink;
  }
  
  h2 {
      color: red;
  }
  
  nav {
      background: #fbbc05
  }
  /*Pseudo-Class*/
  
  nav a,
  nav a:visted {
      color: #fff;
  }
  
  .selected,
  nav a:hover {
      color: #005abc;
  }
  /*******************************************************
Media Queries
********************************************************/